@font-face {
    font-family: "Helvetica-Bold";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Helvetica-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Helvetica";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Helvetica.ttf") format('truetype');
}