#instruccion-back{
    overflow: hidden;
}

#instruccion-back > div{
    position: absolute;
}

#instruccion-back-mask{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-color: rgba(0,0,0,0.75);
    transition: border 0.3s;
}

#instruccion-box{
    position: absolute;
    width: 350px;
    padding: 20px;
    padding-top: 50px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border-top: #E20613 solid 3px;
    left: 50%;
    left: calc(50% - 175px);
    left: -moz-calc(50% - 175px);
    top: 50%;
    top: calc(50% - 150px);
    top: -moz-calc(50% - 150px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#instruccion-box-icon{
    position: absolute;
    top: -40px;
    left: 50%;
    left: calc(50% - 40px);
    left: -moz-calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FEF2F2;
    border: #ffffff solid 5px;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.instruccion-box-icon-default{
    background-image: url(../images/instruccion-icon.svg);
}
#instruccion-title{
    font-family: 'Helvetica-Bold';
    font-size: 21px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#instruccion-text{
    padding: 10px;
    font-family: 'Helvetica';
    font-size: 14px;
    text-align: center;
    color: #4D4D4D;
    background-color: #F2F2F2;
    margin-bottom: 10px;
}
#instruccion-btn{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #FFDC00;
    border: none;
    padding: 0px 0px;
    text-transform: uppercase;

    font-family: 'Helvetica-Bold';
    font-size: 16px;
    color: #000000;
    text-align: center;
}

#manual-container-close-btn:hover,
#instruccion-btn:hover{
    cursor: pointer;
    background-color: #D1AF05;
}

.instruccion-off{
    visibility: hidden;
    transition: visibility 1s;
}
.instruccion-on{
    visibility: visible;
}

.instruccion-off #instruccion-back{
    opacity: 0;
    transition: opacity 0.5s;
}
.instruccion-on #instruccion-back{
    opacity: 1;
    transition: opacity 0.5s 0.5s;
}

.instruccion-on #instruccion-box{
    transform: translateY(0%);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s, left 0.3s, top 0.3s;
}
.instruccion-off #instruccion-box{
    transform: translateY(-10%);
    opacity: 0;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
}