html,body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    line-height: normal;
    box-sizing: border-box;
    display: block;
}
div{
    box-sizing: border-box;
}
button{
    outline: none;
    outline-width: 0;
    display: block;
    position: relative;
}

#contenedor{
    position: relative;
    width: 100%;
    height: 100%;
    transition: left 2s;
}
.contenedor-initial{
    left: 0px;
}
.contenedor-left{
    left: -15%;
}

#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#fondo-img{
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    left: 0px;
    top: 0px;
}


#titulo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#titulo h1,#titulo h2{
    font-family: 'Helvetica-Bold';
    font-size: 24px;
}
#titulo h1{
    color: #000000;
    margin: 5px 0px;
}
#titulo h2{
    padding: 7px 10px;
    color: #ffffff;
    background-color: #E20613;
}

#app{
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 120px);
    height: -moz-calc(100% - 120px);
    top: 120px;
    left: 0px;
}
.app-initial{
    left: 0px;
}

.epp-move-on{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.15s, opacity 0.15s;
}
.epp-move-off{
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.15s, opacity 0.15s, visibility 0.15s;
}

#ref-comprobar{
    position: absolute;
    width: 150px;
    height: 40px;
    bottom: 10px;
    right: 10px;    
}

#comprobar-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;

    font-family: 'Helvetica-Bold';
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 5px 0px 0px #870613;
    top: 0px;
    cursor: pointer;

    transition: box-shadow 0.25s, top 0.25s, filter 0.25s, opacity 0.25s, background-color 0.25s;
}
#comprobar-btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.comprobar-btn-disabled{
    cursor: not-allowed;
    background-color: #E20613;
    filter: grayscale(100%);
    opacity: 0.75;
}
.comprobar-btn-enabled{
    background-color: #E20613;
    cursor: pointer;
    filter: grayscale(0%);
    opacity: 1;
}
.comprobar-btn-enabled:active{
    box-shadow: 0px 0px 0px 0px #870613;
    top: 5px;
}
.comprobar-btn-enabled:hover{
    background-color: #870613;
}